# ignore Cache
__pycache__/
.ipynb_checkpoints/
.vscode/

# collected data
output/
output_*/

# nbs
nb/*

# session_file.session
*.session
*.session-journal

# venv
venv/

# bin
*.bin

# ini
*.ini

# nuitka
telegramtrac_test/
telegramtrac_onefile/
telegramtrac_standalone/
telegramtrac.build/
telegramtrac.dist/

#vs
.vs/

#Inno Setup
*.iss