# ignore Cache
__pycache__/
.ipynb_checkpoints/
.vscode/

# collected data
output/

# nbs
nb/*

# session_file.session
*.session
*.session-journal

# files
test.py
chatgpt.py

# venv
venv/

# bin
*.bin

# ini
*.ini